@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel>
@using System.Web.Optimization
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using ClientDependency.Core.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    @{  // Theme Assets references
        Html.RequiresJs("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js")
            .RequiresCss("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
    }
    @Html.RenderCssHere()
    @Styles.Render("~/bundles/sitecss")
</head>
<body class="@Model.DocumentTypeAlias" id="top">
    @Html.ThemedPartial(Model, "NavBar")

    @RenderBody()

    @Html.ThemedPartial(Model, "Footer")
    @Html.RenderJsHere()
    @Scripts.Render("~/bundles/corejs")
    @Scripts.Render("~/bundles/sitejs")
    @RenderSection("AdditionalScripts", false)
</body>
</html>
