@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductGroupModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web

@{
    Layout = "Master.cshtml";
}
<section id="content" class="clearfix">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Name</h1>
        </div>
    </div>

    <div id="products">
        @{
            var products = Model.Children<ProductModel>().ToArray();
            if (products.Any())
            {

                foreach (var product in products)
                {
                    if (!product.GetPropertyValue<bool>("quote"))
                    {

                        <div class="col-md-3 product @(product.ProductData.OnSale ? "sale" : "")">
                            <a href="@product.Url">
                                <img src="@product.GetCropUrl(propertyAlias: "image", height: 400)">
                                <div class="info">
                                    <span class="name">@product.ProductData.Name.ToUpper() / </span>
                                    @if (product.ProductData.ProductVariants.Any())
                                    {
                                        var price = product.FormattedPrice().Split('-')[0].Trim();
                                        <span>From @price</span>
                                    }
                                    else
                                    {
                                        <span class="original-price">@product.FormattedPrice()</span>
                                        if (product.ProductData.OnSale)
                                        {
                                            <span class="sale-price">@product.FormattedSalePrice()</span>
                                        }
                                    }
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 product">
                            <a href="@product.Url">
                                <img src="@product.GetCropUrl(propertyAlias: "image", height: 400)">
                                <div class="info">
                                    <span class="name">@product.Name </span>                                   
                                </div>
                            </a>
                        </div>
                    }
                }
            }
            else
            {
                <div class="container">
                    <h3>Sorry, there seems to be no products here.</h3>
                </div>
            }

        }

    </div>
</section>



